:host {
	--my-chat-spacing: 0.5rem;
}

/* Root */
.my-chat-root {
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
}

/* Floating Button */
.my-chat-fixed-btn-container {
	display: block;
	min-width: 1px;
	overflow: visible;
	background: transparent;
	border: none;
	inset: unset;
	margin: 0;
	padding: 0;
	right: calc(var(--my-chat-spacing) * 2);
	bottom: calc(var(--my-chat-spacing) * 2);
}

:host([placement="Start"]) .my-chat-fixed-btn-container {
	right: unset;
	left: calc(var(--my-chat-spacing) * 2);
}

.my-chat-fixed-btn {
	width: 3rem;
	height: 3rem;
}

.my-chat-fixed-btn::part(icon) {
	width: 1.25rem;
	height: 1.25rem;
}

/* Popover */
.my-chat-popover {
	width: 100%;
	max-width: 25rem;
	height: 35rem;
}

.my-chat-popover::part(header) {
	padding: 0;
}

.my-chat-popover::part(content) {
	padding: calc(var(--my-chat-spacing) * 2);
}

/* Header Bar */
.my-chat-popover-header::part(startContent) {
	padding-inline-start: var(--my-chat-spacing);
}

.my-chat-popover-header::part(endContent) {
	padding-inline-end: var(--my-chat-spacing);
}

/* Chat Content Layout */
.my-chat-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	gap: calc(var(--my-chat-spacing) * 2);
}

/* Messages */
.my-chat-messages {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: var(--my-chat-spacing);
	overflow-y: auto;
}

/* Input Area */
.my-chat-input-container {
	display: flex;
	align-items: flex-start;
	gap: var(--my-chat-spacing);
}

.my-chat-input-container > * {
	margin: 0;
}
