:host {
	background-color: var(--sapBackgroundColor);
	padding: var(--my-chat-spacing) calc(var(--my-chat-spacing) * 2);
	border-radius: var(--my-chat-spacing);
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	align-self: flex-start;
}

:host([placement="End"]) {
	align-self: flex-end;
	background-color: var(--sapInformationBackground);
}
