body {
	color: var(--sapTextColor);
	background-color: var(--sapBackgroundColor);
	font-size: var(--sapFontSize);
	font-family: var(--sapFontFamily);
	padding: 2rem;
}

h1 {
	font-size: var(--sapFontHeader2Size);
	margin-bottom: 0.5rem;
}

h2 {
	font-size: var(--sapFontHeader4Size);
	margin-bottom: 0.5rem;
}

.app,
.app-settings,
.app-docs,
.app-first-component {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.app-settings  {
	padding: 2rem;
}

.app-first-component  {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.app-footer {
	position: absolute;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-sizing: border-box;
	background-color: var(--sapBackgroundColor);
}

.app-logo {
	height: 5rem;
	width: 5rem;
}

.app-settings, .app-first-component, .app-footer, .app-content  {
	box-sizing: border-box;
}

@media (width < 768px) {
	.app-content {
		flex-direction: column;
	}
}